<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/styles.css" />
        <link rel="icon" href="/logo/favicon.ico" type="image/x-icon">
        <title><%= genreName %></title>
    </head>
    <body>
        <div class="container">
            <%- include('header') %>
            <% if (locals. genreName && locals.movies) { %>
                <h2> <%= genreName %> movies</h2>
                <div class="flex-container">
                    <% movies.forEach(movie => { %>
                        <a class="movie" href="/movies/movie/<%- movie.title %>">
                            <img src="<%= movie.path %>" alt="">
                            <h3> <%= movie.title %> </h3>
                        </a>
                    <% }) %>
                </div>
            <% } %>
        </div>
    </body>
</html>
