<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/styles.css" />
        <link rel="icon" href="/logo/favicon.ico" type="image/x-icon" />
        <title><%- movie.name %></title>
    </head>
    <body>
        <div class="container">
            <%- include('header') %> <% if (locals.movie) { %>
            <div class="movie-layout">
                <!-- Left section -->
                <div>
                    <img src="<%- movie.path %> " alt="" />
                </div>

                <!-- Right section -->
                <div class="info">
                    <!-- Movie name -->
                    <h1><%= movie.name %></h1>

                    <!-- Release year -->
                    <h3><%= movie.year %></h3>

                    <!-- Movie genres -->
                    <% if (locals.genres) { %>
                    <div class="categories">
                        <% genres.forEach(genre => { %>
                        <a
                            href="/genres/genre/<%= genre.name %>"
                            class="button"
                        >
                            <%= genre.name %>
                        </a>
                        <% }) %>
                    </div>
                    <% } %>

                    <!-- Movie rating -->
                    <div class="rating">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 -960 960 960"
                        >
                            <path
                                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97zM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149zm247-350"
                            />
                        </svg>
                        <%= movie.rating %>/10
                    </div>

                    <!-- Movie description -->
                    <p><%= movie.description %></p>

                    <!-- Watchlist button -->
                    <a href="./<%=movie.name%>/update" class="button"
                        >Update movie</a
                    >
                    <form action="/" method="post">
                        <button class="watchlist-button" type="submit">
                            Add to watchlist
                        </button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
    </body>
</html>
